body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding-top: 20vh;
}

h3 {
    
    text-align: center;
}
.form_container {
    width: 250px;
    height: 250px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    margin: auto;
}

.loginform input {
    width: 230px;
    padding-top: 10px;
    margin-top: 10px;
}

.login input{
    margin-top: 10px;
    margin-left: 90px;

}
