body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding-top: 19vh;
}

.form_container {
    margin-top: -0px;
    text-align: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.form_container {
    width: 250px;
    height: 250px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    margin: auto;
}

.loginform {
    margin-top: -5px;
}
.loginform input {
    
    width: 245px;
    padding-top: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 1.5px solid rgb(151, 135, 135);
    outline: none;
}


.login {
    margin-top: 10px;
}
.login input{

    background-color: #7114dc;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
   
}

img {
    width: 50px
}

